<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Filtration System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form enctype="multipart/form-data" action="/upload" method="post">
      <input type="file" id="uploader" name="uploaded" /><br />
      <input type="submit" id="submit" disabled />
  </form>
  <script>
      var uploader = document.getElementById("uploader");
      var submit = document.getElementById("submit");
      // accounts for user hitting back button
      uploader.files.length > 0 ? submit.disabled = false : submit.disabled = true;

      uploader.addEventListener("change", function() {
        if(this.files) {
            if(this.files[0].type == "image/gif") {
                submit.disabled = false;
            } else {
                submit.disabled = true;
            }
        } else {
            submit.disabled = true;
        }
      }, false);

      // submit.addEventListener("click", function() {
      //   //prevent click spam
      //   submit.disabled = true;
      // });

  </script>
</body>
</html>
