<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Filtration System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <form enctype="multipart/form-data" action="/upload" method="post">
      <input type="file" id="uploader" name="uploaded" /><br />
      <input type="submit" id="submit" disabled />
  </form>
<script type="text/javascript" src="{{ url_for('static', filename='js/upload.js') }}"></script>
</body>
</html>
